body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 25px;
  color: #959595;
  background: #ffffff url('/img/bg.jpg') repeat-x;
}
a {
  -webkit-transition: color 0.25s linear;
  -moz-transition: color 0.25s linear;
  transition: color 0.25s linear;
  color: #64BCE8;
}
a :hover {
  color: #000;
}
strong {
  color: #555555;
}
h1,
h2,
h3,
h4,
h5 {
  color: #ffa800;
  font-weight: 300;
  line-height: 26px;
}
h1 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 100;
  margin: 15px 0;
}
h2 {
  font-size: 30px;
  line-height: 35px;
  margin: 15px 0;
}
h3 {
  font-size: 20px;
  margin: 15px 0;
  font-weight: 500;
  color: #767573;
  font-weight: 300;
}
h1:first-of-type {
  margin-top: 0;
}
big {
  font-size: 20px;
  line-height: 30px;
  color: #555;
  font-weight: 100;
}
sup {
  font-size: 50%;
  line-height: 50%;
}
.alignRight {
  text-align: right;
}
a.button {
  background: #f9e6c0;
  color: #555555;
  padding: 10px 15px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
}
a.button :hover {
  background: #EBD9B8;
}
a.imageButton {
  display: inline-block;
  padding: 0;
  text-indent: -9999px;
  font-size: 0;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  opacity: 1;
}
a.imageButton :hover {
  opacity: 0.8;
}
.content .feature {
  height: 320px;
  background: url('/img/feature-bg.jpg');
  margin-top: 25px;
  margin-bottom: 25px;
}
.content .feature div {
  margin-top: 30px;
}
.content .feature big {
  color: #fff;
}
.content .procedureFeature {
  height: 400px;
  background: url('/img/procedure-feature-bg.jpg');
  margin-top: 25px;
  margin-bottom: 25px;
}
.content .procedureFeature .boxout {
  width: 360px;
  height: 64px;
  background: url('/img/procedure-feature-boxout.png') no-repeat;
  position: absolute;
  bottom: 30px;
  right: 0px;
  padding: 35px 0 25px 30px;
  text-shadow: #fff 1px 1px 1px;
  color: #555;
  font-size: 12px;
  font-weight: bold;
}
.content .procedureFeature .boxout .durability {
  float: left;
  background: url('/img/procedure-icon-durabilty.png') no-repeat;
  padding: 5px 20px 5px 75px;
  height: 70px;
}
.content .procedureFeature .boxout .cost {
  float: left;
  background: url('/img/procedure-icon-cost.png') no-repeat;
  padding: 5px 20px 5px 75px;
  height: 70px;
}
.content .procedureFeature .boxout p {
  margin: 0;
}
.content .procedureFeature .boxout big {
  font-size: 20px;
  line-height: 20px;
  color: #797978;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
.content a.backToCategory {
  font-size: 13px;
  color: #fff;
  padding: 7px 20px;
  background: #767573;
  font-weight: bold;
  text-decoration: none;
}
.content a.backToCategory :hover {
  background: #a9a8a6;
}
.content a.subfeature1 {
  display: inline-block;
  width: 300px;
  height: 150px;
  background: url('/img/subfeature-1.jpg');
}
.content a.subfeature2 {
  display: inline-block;
  width: 300px;
  height: 150px;
  background: url('/img/subfeature-2.jpg');
}
.content a.subfeature3 {
  display: inline-block;
  width: 300px;
  height: 150px;
  background: url('/img/subfeature-3.jpg');
}
.content #conditions {
  background: url('/img/conditions-feature.jpg');
  width: 328px;
  height: 650px;
  position: relative;
  margin: 0;
}
.content #conditions a.condition {
  position: absolute;
  font-size: 16px;
  color: #555;
  text-decoration: none;
}
.content #conditions a.condition :hover {
  color: #000;
  text-decoration: underline;
}
.content #conditions a.selected {
  color: #d50d14 !important;
  text-decoration: underline;
}
.content .conditionList {
  background: #fdf9f0;
  display: none;
  -webkit-transition: top 0.5s ease-in-out, opacity 0.7s linear;
  -moz-transition: top 0.5s ease-in-out, opacity 0.7s linear;
  transition: top 0.5s ease-in-out, opacity 0.7s linear;
  padding: 35px;
}
.content .conditionList h2 {
  margin: 0;
}
.content .conditionList ul {
  padding: 0;
}
.content .conditionList ul li {
  margin: 10px 0 10px 0;
  padding: 10px 0 0 0;
  border-top: 1px solid #e3dfd6;
  list-style: url('/img/contact-expand-arrow.png') inside;
}
.content .conditionList ul li a.title {
  color: #7a7a78;
  font-weight: bold;
  text-decoration: none;
}
.content .conditionList ul li a.title :hover {
  text-decoration: underline;
}
.content .conditionList ul li .content {
  margin-left: 20px;
  overflow: hidden;
  height: 0;
  -webkit-transition: height 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}
.content .conditionList ul li :first-of-type {
  border-top: none;
}
.content .conditionList ul li.selected {
  list-style: url('/img/contact-expand-arrow-dn.png') inside;
}
.content .conditionList ul li.selected a.title {
  color: #444;
}
.content .showList {
  display: block;
}
.content .boxOut {
  padding: 10px 30px;
  background: #fdf8ef;
  color: #797978;
}
.content .boxOut a {
  color: #464646;
}
.content .boxOut a :hover {
  color: #000000;
}
.content .boxOut ul {
  padding: 10px 0 10px 20px;
}
.content .boxOut ul li {
  border-top: 1px solid #e3dfd7;
  padding: 10px;
}
.content .boxOut ul li a {
  display: block;
  color: #797978;
  text-decoration: none;
  -webkit-transition: color 0.25s linear, margin 0.2s ease-in-out;
  -moz-transition: color 0.25s linear, margin 0.2s ease-in-out;
  transition: color 0.25s linear, margin 0.2s ease-in-out;
}
.content .boxOut ul li a.selected {
  color: #000;
  margin-left: 10px;
  margin-right: -10px;
}
.content .boxOut ul li a:hover {
  color: #555;
  text-decoration: underline;
}
.content .boxOut ul li:first-of-type {
  border-top: none;
}
.content #showFAQ h3 {
  color: #555;
  padding: 5px 5px 5px 70px;
  min-height: 50px;
  background: url('/img/faq-icon.png') no-repeat top left;
}
.content form input[type=submit] {
  border: none;
  font-size: 14px;
  cursor: pointer;
  background: #f9e6c0;
  color: #555555;
  padding: 10px 15px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
}
.content form input[type=submit] :hover {
  background: #EBD9B8;
}
.content form .error {
  color: #f00;
  margin-left: 160px;
  font-size: 80%;
}
.content form .formLabel {
  width: 150px;
  min-height: 100%;
  text-align: right;
  float: left;
}
.content form .formLabel label {
  color: #555555;
  font-weight: bold;
}
.content form .formInput {
  float: left;
}
.content form .formInput input[type=text],
.content form .formInput textarea {
  width: 260px;
  padding: 5px 10px;
  font-size: 14px;
  margin-left: 10px;
  margin-top: -5px;
  border: 1px solid #d7d7d7;
}
.content form .formInput input[type=submit] {
  margin-left: 10px;
}
.content form .formInput textarea {
  height: 100px;
  resize: vertical;
}
.content .procedureListing {
  padding-top: 30px;
}
.content .procedureListing h3 {
  color: #ffa800;
}
.content a.procedure-listing-1 {
  width: 300px;
  height: 150px;
  background: url('/img/procedure-listing-1.jpg');
}
.content a.procedure-listing-2 {
  width: 300px;
  height: 150px;
  background: url('/img/procedure-listing-2.jpg');
}
.content a.procedure-listing-3 {
  width: 300px;
  height: 150px;
  background: url('/img/procedure-listing-3.jpg');
}
.content a.procedure-listing-4 {
  width: 300px;
  height: 150px;
  background: url('/img/procedure-listing-4.jpg');
}
.content a.procedure-listing-5 {
  width: 300px;
  height: 150px;
  background: url('/img/procedure-listing-5.jpg');
}
.content a.procedure-listing-6 {
  width: 300px;
  height: 150px;
  background: url('/img/procedure-listing-6.jpg');
}
.header {
  margin-top: 40px;
  margin-bottom: 50px;
  padding-bottom: 20px;
  background: url('/img/header-border.png') bottom right no-repeat;
}
.header a.logo {
  width: 293px;
  height: 51px;
  margin-top: 10px;
  background: url('/img/specialist-sportsmed-logo.png') center left no-repeat;
}
.header div.nav {
  margin-top: 10px;
  float: right;
}
.header div.nav ul {
  list-style: none;
  padding: 0;
}
.header div.nav ul li {
  float: left;
}
.header div.nav ul li a {
  font-size: 17px;
  font-weight: 900;
  color: #555555;
  text-decoration: none;
  display: block;
  margin-left: 8px;
  padding: 5px 10px;
  font-weight: 500;
  border-radius: 2px;
}
.header div.nav ul li a :hover {
  color: #333;
  background: rgba(0, 0, 0, 0.05);
}
.header div.nav ul li a.selected {
  background: #f9e6c0;
}
.footer {
  background: url('/img/header-border.png') top right no-repeat;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 30px;
  font-size: 12px;
}
.footer a.hellomedicalLogo {
  width: 125px;
  height: 15px;
  background: url('/img/hellomedical-logo.png');
}
.footer a {
  color: #999;
}
.footer a:hover {
  color: #333;
}
