---
layout: default
title: conditions
menuItemId: conditions
---

 <div class="grid_4">
	<h1>Sports Injuries and Conditions</h1>
</div>
<div class="grid_6 prefix_2">
	<big>We've created this page to help you identify the most common sports injuries and conditions, the reason why they happen and our procedures to remedy it.</big>
</div>

<div class="clear"></div>

<div class="grid_6">
	<br/>
	<div id="conditions">
		<a class="condition selected" href="#" style="top:110px;left:260px;" rel="shoulder">Shoulder</a>
		<a class="condition" href="#" style="top:210px;left:280px;" rel="elbow">Elbow</a>
		<a class="condition" href="#" style="top:255px;left:300px;" rel="hipgroin">Hip/Groin</a>
		<a class="condition" href="#" style="top:300px;left:320px;" rel="wrist">Wrist</a>
		<a class="condition" href="#" style="top:450px;left:250px;" rel="knee">Knee</a>
		<a class="condition" href="#" style="top:580px;left:250px;" rel="ankle">Ankle/Foot</a>					
	</div>
</div>

<div class="grid_6">
	<br/>
	
	<!-- 
	CONDITION START
	/-->				
	<div class="conditionList showList" id="shoulder">
		<h2>Shoulder</h2>
		<ul>
			<li>
				<p>Rotator Cuff Injury</p>
				
					<p>Injury of one or more of the four tendons which stabilise the shoulder joint (rotator cuff muscles) causes pain, instability and reduces the range of motion of the joint.</p>
					<p>This usually represents tendinosis (tendinopathy) of the tendon(s), not uncommonly associated with tears that can be large or small. Tendinosis can be defined as tendon degeneration.</p>
					<p>The differentiation between tendinosis and tears, which often co-exist, can be difficult.</p>
					<p>The supraspinatus tendon is the most commonly affected. Usually presents as pain.</p>
			
			</li>
			<li>
				<p>Calcific tendinosis</p>
					<p>This is where the tendinosis/tears as described above heal with the laying down of calcium (hydroxyapatite) in the tendon. Presents as pain.</p>

			</li>
			<li>
				<p>Subacromial / Subdeltoid bursiti</p>

					<p>Very common condition. Bursa is a sac that lies between structures such as muscle and tendon and acts as a lubricant allowing free movement. This can become inured and produce pain. Usually over the outer aspect of the shoulder, often extending to midway down outer aspect of the upper arm. Typically worse when lifting one’s arm above the head, and not uncommonly wakes people at night.
			</li>
			<li>
				<p>Frozen shoulder</p>

					<p>Frozen shoulder or ‘adhesive capsulitis’ is a disorder where the capsule that surrounds the shoulder joint becomes stiff and inflamed. Typically produces restriction in the range of movement of the shoulder together with pain. Occasionally the restriction and pain can be severe. Exact cause unknown. Can last for months to years untreated.</p>
			</li>
			<li>
				<p>Labral tears and ganglion formation</p>

					<p>Better diagnosed with MRI, but sometimes can be seen on ultrasound.</p>
			</li>
			<li>
				<p>Quadrilateral space syndrome</p>

					<p>Nerve entrapment at the back of the shoulder. Pain typically occurs with shoulder external rotation, extension and abduction. Presents with pain and parasthesia down the arm.</p>
			</li>
			<li>
				<p>Bicipital tenosynovitis</p>

					<p>Tendinosis and inflammation of the tendon of the biceps muscle at the front of the shoulder joint.</p>
			</li>
		</ul>
	</div>
	<!-- 
	CONDITION END
	/-->
	
	<!-- 
	CONDITION START
	/-->				
	<div class="conditionList" id="elbow">
		<h2>Elbow</h2>
		<ul>
			<li>
				<p>Tennis Elbow</p>
					<p>Tennis Elbow or ‘lateral epicondylitis’ represents an overuse injury of tendon attachment to the outer aspect of the elbow. More specifically this occurs at the common extensor tendon attachment to the lateral epicondyle. Although commonly tennis elbow, this condition has a wide variety of causes, including activities of daily living.</p>
					<p>This can present as an acute pain or as a grumbling background discomfort. Sometimes with associated weakness in grip strength (e.g. picking up a cup). Resulting in pain in this area. The cause is degeneration of the tendon with microscopic tears. Often associated larger tears are present.  Usually there is no inflammatory component.</p>
			</li>						
			<li>
				<p>Golfers Elbow</p>
					<p>Golfers Elbow or ‘medial epicondylitis. Similar to Tennis elbow but involves the inner aspect of the elbow.</p>
					
			</li>						
			<li>
				<p>Biceps tendon insertional tendinosis and tears</p>
					<p>Usually caused by repetitive strain and overuse, occasionally due to an acute injury. Usually patients present with pain at the front (anterior) aspect of the elbow. Lifting generally exacerbates the symptoms.</p>
					
			</li>
			<li>
				<p>Nerve entrapments</p>
					<p>Including, radial, median and ulnar nerve including their branches. Especially the posterior interosseous nerve (PIN) which can present with pain similar to that experienced in Tennis Elbow (lateral epicondylitis).</p>
					
			</li>
			<li>
				<p>Ligament injuries</p>
					<p>Including radial and ulnar collateral, lateral ulnar collateral ligament (LUCL) and annular ligament.</p>
					
			</li>					
		</ul>
	</div>
	<!-- 
	CONDITION END
	/-->

	
	<!-- 
	CONDITION START
	/-->				
	<div class="conditionList" id="hipgroin">
		<h2>Hip/Groin region</h2>
		<ul>
			<li>
				<p>Hamstring origin tendinosis and tears.</p>

					<p>Hamstring tendinosis is a strain of the hamstring tendon as it attaches to the Ischial Tuberosity at the top of the back of the thigh.</p>
					<p>Presents with:</p>
					<p>- Pain and tenderness at the ischial tuberosity<br>
					- Pain when stretching the hamstring muscles<br>
					- Pain when sitting for variable periods of time<br>
					- Gradual onset of pain following running<br>
					- Acute injury</p>

			</li>						
			<li>
				<p>Osteitis pubis and adductor syndrome.</p>

					<p>Osteitis pubis is a painful condition of the symphysis pubis and surrounding muscle fascia. Exact cause uncertain but it is thought to be due to repeated microtrauma or exertional stresses on the fascia and the joint.
			</li>						
			<li>
				<p>Sportsman’s hernia.</p>

					<p>Also called Athletic pubalgia or sports hernia, Gilmore's groin or groin disruption. Painful condition affecting the groin. Exact cause unknown. Usually athletes but not always. Tends to present with a grumbling pain , difficult to pinpoint in the groin region which does not settle even after long periods of rest. <a href="http://en.wikipedia.org/wiki/Athletic_pubalgia" target="_blank">Athletica pubalgia</a>
			</li>	
			<li>
				<p>Hernia’s: Including direct/indirect inguinal and femoral.</p>

					<p>These often  present as grumbling discomfort in the groin area sometimes radiating down into the scrotum. There can be visible bulges in the groin area that can become more prominent when coughing, straining, or standing up.
			</li>	
			<li>
				<p>Hip joint pain from labral tears and impingement.</p>

					<p>Arthritis. Joint effusions, synovitis and ganglia formation.
			</li>	
			<li>
				<p>Outer aspect (lateral) hip pain: Gluteus medius and minimus tendinosis and tears.</p>

					<p>Pain presents at the outer aspect of the hip joint. Often tender to pressure applied over this region. Difficult to sleep whilst lying on one’s side. Cause is tendinosis , tears or overlying bursitis at the attachment of one and/or two tendons attachments which originate from buttock muscles. A very common condition, usually affecting women.
			</li>
			<li>
				<p>Iliotibial band syndrome.</p>
					<p>ITBS is a common cause of pain at the outer aspect of the hip and knee. Often seen with runners and cyclists.  The iliotibial band is a normal band of thickened tissue that runs on the outside of the thigh, extending from the outside of the pelvis above the hip region extending over the hip and inserting just below the knee. The band is very important in the stabilisation of the knee during running and walking.  This band can be injured due to repetitive rubbing of the band at the level of the hip and the knee.
			</li>	
		</ul>
	</div>
	<!-- 
	CONDITION END
	/-->

	
	<!-- 
	CONDITION START
	/-->				
	<div class="conditionList" id="wrist">
		<h2>Wrist</h2>
		<ul>
			<li>
				<p>Carpal Tunnel Syndrome</p>
					<p>Compression of one of the nerves controlling movements of muscles in the hand (the median nerve) occurring within the carpal tunnel (a passageway within the wrist for nerves and blood vessels to travel from the forearm to the hand) causes hand pain or tingling sensations on the palm and weakness in the thumb and index fingers
			</li>					
			<li>
				<p>De Quervain’s tenosynovitis</p>
					<p>Any of the tendons around the wrist can become irritated and inflamed. When it affects the tendons that control movements of the thumb it is termed De Quervains tenosynovitis. Named after a Swiss surgeon who first diagnosed this condition in 1895. The tendons involved are extensor pollicus brevis and abductor pollicus longus.</p>
					<p>Mostly caused by overuse. Symptoms include pain, tenderness and occasionally swelling at the thumb side of the wrist. Differential diagnosis includes arthritis of the thumb carpometacarpal joint, entrapment of nerves such as the superficial branch of the radial nerve( condition called Cheiralgia paraesthetica or Wartenberg’s syndrome) and intersection syndrome ( where muscles cross over each other, typically pain is more towards the middle of the back of the forearm about 5cm below the wrist).
			</li>
			<li>
				<p>Arthritis</p>

					<p>Degenerative or inflammatory.
			</li>	
			<li>
				<p>Ligament tears.</p>

					<p>...</p>
			</li>
			<li>
				<p>Ganglia/cyst formation</p>

					<p>This is where normally produced fluid protrudes through a weakness or tear in supporting structures producing swellings often felt as a hard lump. Can be painful, produce dull ache or compress adjacent structures such as nerves.</p>
			</li>
			<li>
				<p>Trigger finger</p>

					<p>Common condition of the fingers, characterised by the finger(s) locking, catching or snapping. Associated pain and dysfunction. Tendons of the fingers are held in place by little bands of tissues called ‘pulleys’. Either the pulley or the tendon becomes thickened causing the tendon to catch on the pulley. Typically affects the A1 pulley at the base of the finger or thumb.</p>
					
			</li>
		</ul>
	</div>
	<!-- 
	CONDITION END
	/-->
	
	<!-- 
	CONDITION START
	/-->				
	<div class="conditionList" id="knee">
		<h2>Knee</h2>
		<ul>
			<li>
				<p>Patella tendinosis</p>

					<p>Term relating to the patella tendon attachment at both its upper attachment (“kneecap”) and lower attachment on the tibia. Represents an overuse injury of tendon attachment. This can present as an acute pain or as a grumbling background discomfort.</p>
					<p>4 stages - Stage 1: Pain only after activity. Stage 2: Pain during and after activity. Stage 3: Pain during and after activity and with some difficulty in performing the activity/sport satisfactorily. Stage4:  Complete tendon tear requiring surgery.</p>
					<p>At proximal (“kneecap”) attachment also called “Jumpers Knee” or Sinding- Larsen-Johansson disease. Lower attachment also called Osgood Schlatter’s disease.</p>
					<p>The cause is degeneration of the tendon with microscopic tears. Often associated larger tears are present.  Usually there is no inflammatory component.</p>
			</li>
			<li>
				<p>Quadriceps tendinosis</p>

					<p>Attachment of the muscles of the thigh to the patella. As above.</p>
			</li>
			<li>
				<p>Baker’s cyst</p>

					<p> Fluid filled cyst which develops behind the knee.</p>
			</li>
			<li>
				<p>Bursitis</p>

					<p>Many potential fluid filled structures around the knee joint can become inflamed, including, prepatellar (Housemaid’s knee), infrapatellar,</p>
			</li>
			<li>
				<p>Pes anserine bursitis and iliotibial band syndrome</p>

					<p>Tendons that run past the knee joint on the inner and outer sides can become irritated and inflamed.</p>
			</li>
		</ul>
	</div>
	<!-- 
	CONDITION END
	/-->
	
	<!-- 
	CONDITION START
	/-->				
	<div class="conditionList" id="ankle">
		<h2>Ankle/Foot</h2>
		<ul>
			<li>
				<p>Achilles Tendon Injuries</p>
					<p>Usually degeneration of the Achilles tendon, but occasionally acute tears can lead to acute or long standing grumbling pain of the tendon. Occasional associated dysfunction. Presents as heel / lower leg pain when walking or running. Sometimes associated focal swelling. Painful when pressure applied.</p>
			</li>
			<li>
				<p>Ankle Sprains</p>
					<p>The ligaments anchoring the foot to the leg at the ankle are prone to injury after a fall or abnormal twisting movement of the ankle, often during sports or running over uneven surfaces. The ligaments on the outer aspect of the ankle (lateral ligaments) are more likely to be injured than those on the inner aspect (medial ligaments). The sprain can result in tenderness, swelling, bruising, numbness, difficulty bearing weight and instability.</p>
			</li>
			<li>
				<p>Tendon injuries around the ankle</p>
					<p>Tendons can be injured or degenerate as one ages.</p>
					<p>These tendons run around the sides and over the front on the ankle. This can present as pain or weakness. Can be associated inflammation (tenosynovitis).</p>
			</li>
			<li>
				<p>Plantar fasciosis/fasciitis</p>

					<p>Painful condition of the undersurface of the heel. The plantar fascia is a cord like structure that extends along the sole of the foot towards the toes. This results from wear and tear with degeneration and often associated tearing of this structure. Pain usually felt on the underside of the heel and is worst in the early mornings.</p>
			</li>
			<li>
				<p>Morton’s neuroma</p>

					<p>Morton’s neuroma or intermetatarsal fibrosis. This relates to a condition where scar tissue surrounds a nerve that runs between the toes. Pain can be severe and is typically like an electric shock. Often associated inflammation – intermetatarsal bursitis.</p>
			</li>
			<li>
				<p>Forefoot pain</p>

					<p>Many causes including Morton’s neuroma and intermetatarsal bursitis, sesamoiditis (pain at the base of the big toe), plantar plate tears, flexor and extensor tendon tenosynovitis, plantar fibromatosis, joint effusions and synovitis and ganglia.</p>
			</li>
		</ul>
	</div>
	<!-- 
	CONDITION END
	/-->
	
	<p>
		<a href="/procedures" class="button" id="helpButton" style="opacity:0;">How We Can Help</a>
	</p>
	
</div>

<div class="clear"></div>


