---
layout: default
title: contact
menuItemId: contact
---

<div class="grid_6">
  <h1>Together we can <br>succeed, talk to us.</h1>
</div>
<div class="grid_6">
  <big>We encourage you to approach us with any problem you may have and we will work through all the available solutions in a private and personal consultation.</big>
</div>

<div class="clear"></div>      
<div class="grid_12">
  <br/>
  <img src="/img/contact-feature.jpg" width="980" height="300" alt="Contact Feature">
  <br/><br/>
</div>      
<div class="clear"></div>

<div class="grid_5 boxOut">
  <h2>Contact Details</h2>
  <p><strong>Sports Medicine Radiology</strong></p>
  <hr/>

  <div class="grid_3 alpha">
	<p>
	  258 Springvale Road,<br/>
	  Glen Waverley VIC 3150,<br/>
	  Melbourne, Australia
	</p>
  </div>
  <div class="grid_2 omega">
	<p>
	  (03) 9561 5155<br/>
	  <a href="mailto:info@sportsradiology.com.au">Email Us</a>
	</p>
  </div>
  <div class="clear"></div>

  
</div>

<div class="grid_6">


  <div class="grid_5 omega">
	  <h2>Opening Hours</h2>
	  <ul>
		  <li><strong>Some Monday's</strong> 8:00am - 4:00pm</li>
		<li><strong>Tuesday - Thursday</strong> 8:00am - 5:00pm</li>
		<li><strong>Closed other days</strong> </li>
	  </ul>
		<p><strong>Referrals Are Essential For Appointments</strong></p>
	
  </div>

  <div class="clear"></div>



</div>

<div class="clear"></div>