---
layout: default
title: for doctors
menuItemId: fordoctors
---

 <div class="grid_12">
   <br/>
   <img src="/img/contact-feature.jpg" width="980" height="300" alt="Contact Feature">
   <br/><br/>
 </div>      
 <div class="clear"></div>


<div class="grid_5 boxOut">
  <h1>Downloads For Doctors</h1>
  <ul>
    <li><a href="/downloads/AUTOLOGOUS+BLOOD+INJECTIONS.pdf">Autologous blood injections(ABI), Platelet Rich Plasma(PRP) and dry needling(DN) information for patients (pdf)</a></li>
    <li><a href="/downloads/POLIDOCANOL+INJECTIONS.pdf">Polidocanol Injections - Patient information (pdf)</a></li>
    <li><a href="/downloads/RADIOFREQUENCY++ABLATION+Patient+information.pdf">Radiofrequency Ablation - Patient information (pdf)</a></li>
    <li><a href="/downloads/RECOVERY+RECORD+INDEPENDENT+SPORTS++IMAGING.pdf">Recovery Record Independent sports imaging - Patient information (pdf)</a></li>
    <li><a href="/downloads/SHOULDER+HYDRODILATATION++INFORMATION+FOR+PATIENTS.pdf">Shoulder Hydrodilatation - Patient information (pdf)</a></li>
    <li><a href="/downloads/STEROID++INJECTIONS.pdf">Steroid injections - Patient information (pdf)</a></li>  
    <li><a href="http://www9.health.gov.au/mbs/search.cfm">Click here for HIC updates</a></li>
 </uL>


</div>


<div class="grid_6">
  
             <div class="grid_1 alpha">
             <img src="/img/contact-form-icon.png" width="60" height="60" alt="Contact Form Icon">
             </div>
             <div class="grid_5 omega">
             <h2>Referral pads</h2>
              <p>To order referral pads please <a href="/contact">contact</a> our office.</p>
             </div>
             
             <div class="clear"></div>
             
             
        
</div>