---
layout: default
title: procedures
menuItemId: procedures
---

<div class="grid_6">
  <h1>Innovative and Cutting Edge Procedures</h1>
</div>
<div class="grid_6">
  <big>Using the latest methods in musculoskeletal radiology, we are able to deliver highly efficient results with a reduced recovery time across multiple injuries. All interventional procedures performed under ultrasound control.</big>
</div>

<div class="clear"></div>

<div class="grid_4 procedureListing">
    <a href="/procedures/autologous-blood-injection"><img src="/img/pro1.jpg"> </a>
  <h3>Autologous Blood Injections, Platelet Rich Plasma and Dry Needling</h3>
  <p><strong>The aim is to promote healing in <br>an area of tendinosis or tendon tear.</strong></p>
</div>

<div class="grid_4 procedureListing">
  <a href="/procedures/polidocanol-injection" ><img src="/img/pro2.jpg"></a>
  <h3>Polidocanol Injections</h3>
  <p><strong>Polidocanol is a local anaesthetic agent, first introduced in 1987.</strong> Polidocanol has the additional property of being a sclerosant, for which use we inject this substance in tendinosis.</p>
</div>

<div class="grid_4 procedureListing">
  <a href="/procedures/shoulder-hydrodilatation"><img src="/img/pro3.jpg"></a>
  <h3>Shoulder Hydrodilatation</h3>
  <p><strong>Shoulder hydrodilatation involves the injection of fluid into a joint</strong> to provide immediate relief in inflamed, stiff shoulders</p>
</div>

<div class="clear"></div>

<div class="grid_4 procedureListing">
  <a href="/procedures/autologous-tenocyte-implantation" ><img src="/img/pro4.jpg"></a>
  <h3>Ortho-ATI<sup>TM</sup> Autologous Tenocyte Implantation</h3>
  <p><strong>Is a new tissue engineering technique</strong> designed to assist and improve the regeneration of your damaged/ injured tendon.</p>
</div>

<div class="grid_4 procedureListing">
  <a href="/procedures/steroid-injection"><img src="/img/pro5.jpg"></a>
  <h3>Steroid Injection</h3>
  <p><strong>Steroid Injections</strong> act to reduce inflammation and pain in an area of need.</p>
</div>

<div class="grid_4 procedureListing">
  <a href="/procedures/rf-ablation"><img src="/img/pro6.jpg"></a>
  <h3>Radio Frequency Ablation</h3>
  <p><strong>Radio frequency ablation is a cutting edge new technique</strong> to reduce pain from plantar fasciitis/fasciosis and Morton neuromas.</p>
</div>

<div class="clear"></div>

<!--<div class="grid_4 procedureListing">
  <a href="/procedures/ultrasound"><img src="/img/pro7.jpg"></a>
  <h3>Ultrasound</h3>
  <p><strong>The ultrasound works through sound waves, called sonar.</strong> They bounce off organs and echo back, and can be converted to images on a screen. No radiation is used.</p>
</div>-->

<div class="grid_4 procedureListing">
  <img src="/img/pro8.jpg">
  <h3>Prolotherapy</h3>
  <p><strong>Also called proliferation therapy</strong>, regenerative injection therapy or proliferative injection therapy. This procedure involves injecting an otherwise non-pharmacological  irritant solution into the body, to repair regions and to alleviate pain. </p>
</div>

<div class="clear"></div>
