---
layout: default
title: services
menuItemId: services
---
 <div class="grid_6">
  <h1>Radiology Services</h1>
</div>
<div class="grid_6">
  <big>Using the latest methods in musculoskeletal radiology, we are able to deliver highly efficient results with a reduced recovery time across multiple injuries.</big>
</div>

<div class="grid_12">
	<p>Although we pride ourselves on being a Premier sports/musculoskeletal imaging/treatment centre, we're also experts in ultrasound imaging generally.</p>

	<p>We have a dedicated vascular sonographer, expert in all forms of venous and arterial sonography. Areas that can be well imaged include:</p>

	<ol>
		<li>Peripheral venous: Leg and arm veins, Including - Venous incompetency studies, Deep vein thrombosis (DVT)</li>
		<li>Peripheral arterial: Leg and arm arteries.</li>
		<li>Abdominal: Including - Aorta (e.g. aneurysm), Major arteries to liver, spleen and bowel. Kidneys (Renal arteries - cause for high blood pressure), Portal hypertension, Pelvic congestion syndrome</li>
		<li>Cerebrovascular: Carotid arteries.</li>
		<li>Arteriovenous grafts and fistulas (AVG and AVF).</li>
		<li>CCSVI: Cerebrospinal venous insufficiency.</li>
	</ol>

	<p>We also ultrasound all parts of the body (excluding gynaecological and obstetric scans). Including; liver, spleen, kidneys, pancreas, thyroid, neck, scrotum and paediatric hips.</p>
</div>

<div class="clear"></div>

<div class="grid_6 procedureListing">
  <iframe src="http://player.vimeo.com/video/47223768" width="470" height="353" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  <h3>Ultrasound of the meniscus of the knee</h3>

</div>

<div class="grid_6 procedureListing">
<iframe src="http://player.vimeo.com/video/47223843" width="470" height="353" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  <h3>Ultrasound of the digital nerves of the finger</h3>

</div>


<div class="clear"></div>

<div class="grid_6 procedureListing">
<iframe src="http://player.vimeo.com/video/47223841" width="470" height="353" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  <h3>Ultrasound of the A1 pulley of the finger together with the flexor tendon.</h3>

</div>

<div class="grid_6 procedureListing">
<iframe src="http://player.vimeo.com/video/47223842" width="470" height="353" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  <h3>Ultrasound of a lateral ligament of the ankle (ATAF)</h3>

</div>


<div class="clear"></div>

<div class="grid_6 procedureListing">
<iframe src="http://player.vimeo.com/video/47223840" width="470" height="353" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  <h3>Ultrasound of a joint of the foot.</h3>

</div>

<div class="clear"></div>
