---
layout: default
title: autologous tenocyte implantation
menuItemId: procedures
---

 
<div class="grid_12">
  <p><a href="/procedures" class="button">Back to Procedures</a></p><br/>
</div>
<div class="clear"></div>

<div class="grid_6">
  <h1>Ortho-ATI<sup>TM</sup> Autologous Tenocyte Implantation</h1>
</div>
<div class="grid_6">
  <p><big>OrthoCell's Ortho-ATI<sup>TM</sup> is a new tissue engineering technique designed to assist and improve the regeneration of your damaged/injured tendon.</big></p>
</div>
<div class="clear"></div>
<div class="grid_12 procedureFeature">
  <div class="boxout">
    <div class="durability">
      <p>Durability</p>
      <p><big>5+ years</big></p>
    </div>
    <div class="cost">
      <p>Approx. Cost</p>
      <p><big>$3,000</big></p>
    </div>
  </div>
</div>
<div class="clear"></div>

<div class="grid_6">
  <p><big>A tendon is a tough band of tissue that connects muscle to bone and is capable of withstanding tension. Tendons and muscles work together to allow movement and stability. </big></p>
  <p><img src="/img/procedure-tendon-injuries.jpg" width="474" height="418" alt="Procedure Tendon Injuries"></p>
</div>
<div class="grid_6">
  <p><strong>Tendinopathy</strong>, sometimes called chronic tendonitis, tendinosis, or chronic tendon injury, is degeneration of a tendon. It is caused by microtears in and around the tendon, leading to a decrease in tendon repair cells. This may lead to pain and reduced strength, thus increasing the chance of further damage.</p>
  <p><strong>Chronic tendon injuries</strong> may be caused by several factors including age, weight, nutrition, repetitive movements or sports. Symptoms can vary from an ache or pain, stiffness in the local area of the tendon, or a burning that surrounds the whole joint around the inflamed tendon. With this condition, the pain is usually worse during and after activity.</p>
  <p><strong>Tendons can be very slow to heal if injured,</strong> and rarely regain their original strength. Partial tears heal by the rapid production of disorganised collagen, which is weaker than normal tendon. Recurrence of injury in the damaged region of tendon is common. Standard treatment of tendon injuries is largely related to the symptoms. Use of non-steroidal anti-inflammatory drugs combined with rest and gradual return to exercise is a common therapy.</p>
  <p><strong>The future of non-surgical care for tendinopathy is likely to be bioengineering.</strong> A therapy that addresses the underlying tendon regeneration has the best chance of preventing recurrence.</p>
</div>      
<div class="clear"></div>
      
<div class="grid_12">
  <h2>Ortho-ATI<sup>TM</sup>'s Two Stage Solution</h2>
</div>
<div class="clear"></div>

<div class="grid_6">
  <h3>Step 1: Collection and Culture</h3>
  <p>Ortho-ATI<sup>TM</sup> firstly involves firstly a biopsy procedure whereby a small piece of tendon is harvested from a healthy tendon (typically the tendon just below the kneecap).</p>
  <p>Your biopsied tissue is taken to Orthocell's specially designed and Government regulated laboratory where the building blocks of the tendon, the tenocyte cells, are isolated and grown over a period of approximately 4-5 weeks.</p>
</div>
<div class="grid_6">
  <h3>Step Two: Implantation and Discharge</h3>
  <p>The cells are then implanted via injection into the affected tissue via ultrasound guidance.</p>
  <p>Patients are advised to rest the affected region for 48 hours. The patient can then return to routine daily activities and undertake light work duties, gradually progressing to increased activities in the subsequent weeks.It is important not to excessively repeat the movements that caused the injury initially.</p>
</div>
<div class="clear"></div>

<div class="grid_6">
  <h3>Recovery and Rehabilitation</h3>
  <p>We would expect the patient to rest the affected region for 48hrs and no vigorous activities .The patient can then return to routine daily activities and undertake light work duties, gradually progressing to increased activities in the subsequent weeks. It is important not to excessively repeat the movements that caused the injury initially. Stretches should be done daily for 2 weeks. Once pain improves, the patient can proceed to a Strengthening Program.</p>
    <p>Strengthening exercises should be done every other day for 2?4 weeks after completion of the Stretching Program making sure that you are adequately warmed?up and have done the proper stretches prior to beginning any exercise program</p>

<p>Patients improve steadily over a 6 month period as we are regenerating the cause not just treating the symptoms. We see improvement steadily from the 3 week period and by 6 months we can begin to draw conclusions as to the effectiveness of the outcome.</p>
</div>
<div class="grid_6">
  <img src="/img/procedure-damagedhealthy-tendon.jpg" width="488" height="253" alt="Procedure Damaged healthy Tendon">
</div>
<div class="clear"></div>