---
layout: default
title: autologous blood injection
menuItemId: procedures
---

<div class="grid_12">
<p><a href="/procedures" class="button">Back to Procedures</a></p><br/>
</div>
<div class="clear"></div>

<div class="grid_12">
<h1>Autologous Blood Injections (ABI), Platelet Rich Plasma (PRP) and Dry Needling (DN)</h1>
</div>
<div class="clear"></div>

<div class="grid_6">
<h3>Why perform Autologous Blood Injection (ABI), Platelet Rich Plasma PRP) or Dry Needling (DN)?</h3>

<p>The aim is to promote healing in an area of tendinosis or tendon tear.</p>
<p>Dry needling (DN) causes little bleeds in the tendon.</p>
<p>Injection of blood (ABI) just increases the amount of blood delivered to the area.</p>
<p>ABI/PRP involves injecting the patient’s own blood into a part of the body to induce healing.</p>
<p>PRP concentrates the important factors in the blood so a more concentrated product is injected.</p>
<p>If tendinosis only is present, then DN alone may be performed while tendon tears can be treated with ABI or PRP.
Often however, these two therapies are combined. ABI, PRP and DN are thought to work on the basis that blood carries growth factors which trigger stem cell recruitment and fibroblast stimulation, cells which induce the healing cascade.</p>
<p>These treatments are usually done in conjunction with strengthening exercises and physiotherapy.</p>

</br>

	<h3>How effective is this injection?</h3>

	<p>The response to treatment is variable.</p>
	<p>The degree of response to treatment depends on several factors; including:</p>

	<ol><li>Body part injected.</li>
	<li>Degree of tendinosis and size of the tear of the tendon.</li></ol>

	<p>The success rate is difficult to predict, with the evidence suggesting that around 70-80 % of patients get improvement. This improvement can be quite dramatic in
	many cases. The procedure may be repeated if necessary. If so, this is usually performed at 4-6 weeks.</p>
	
</br>


<h3>How is the procedure performed?</h3>

<p>All anti-inflammatory medication should be ceased about 10 days before the procedure, including aspirin and ibuprofen.</p>
<p>All these procedures are performed under ultrasound, control so that the injured region can be directly visualised
and accurately injected.</p>
<p>If you have not had a prior ultrasound, an expert musculo-skeletal sonographer or radiologist will usually first scan
the area of concern to confirm the pathology and plan the treatment.</p>
<p>If ABI or PRP is being performed, a small cannula (similar to having a blood test) will be placed into a vein in an arm
and left there for the duration of the procedure.
If ABI/PRP is not to be performed, this step will be left out.</p>
<p>For ABI about 2-5 ml of blood is taken and for PRP 10ml blood.</p>
<p>The skin is cleaned with an antiseptic agent. Local anaesthetic is usually then injected into the skin and around the
tendon to make the procedure more comfortable.</p>
<p>If dry needling alone is performed, this will now occur under ultrasound control.
This consists of repeatedly passing a needle through the abnormal area of the tendon to cause small bleeds.</p>
<p>If ABI/PRP is to be performed, DN may be performed first to fenestrate the tendon.</p>
<p>If PRP is to be performed, the blood will first be centrifuged which takes around 10 minutes. This causes the heavier components of blood, such as red blood cells, to be separated from the plasma or fluid component.</p>
</div>
<div class="grid_6">

	<h3>Is the injection painful?</h3>

	<p>The degree of discomfort varies depending on:</p>
	<ul><li>Area to be injected.</li>
	<li>Degree of inflammation in the area.</li>
	<li>Previous experiences (good or bad). Fear of needles.</li></ul>

	<p>Overall the procedure is well tolerated and usually produces only minimal discomfort.
	There can be a slight increase in pain and stiffness in the area injected for a day or two afterwards, occasionally lasting up to a week.</p>
	<p>I strongly recommend the use of ice-packs to be used 3-4 times a day for the first 2 days after treatment; beginning
	immediately afterwards. This is extremely successful in limiting the degree of discomfort produced by this therapy.
	This is usually mild and helped with the use of analgesia (e.g. Paracetamol) and cold packs.</p>
	<p>Anti-inflammatory medication (e.g., ibuprofen) should not be used for about 10 days.</p>
</br>



	<h3>Risks and Side effects:</h3>
	<p>The procedure is usually well tolerated and adverse reactions are rare.</p>

	<p><strong>1. After injection discomfort:</strong> Common. May last a few days and rarely up to a week.
	Painkillers such as Paracetamol can be used if necessary.</p>
	<p><strong>2. Bruising:</strong> Usually minor.</p>
	<p><strong>3. Non – response:</strong> 20-30%.</p>
	<p><strong>4. Tendon rupture:</strong> Uncommon. Possibly to due overuse post injection due to symptom improvement or progression of disease.</p>
	<p><strong>5. Infection:</strong> This is rare! Features of infection include: Pain (increasing after 2-3 days at injection site), redness,
	swelling, temperature and feeling of being unwell. Please consult your doctor as soon as possible.</p>
</br>

<h3>After the procedure</h3>

<p>You will experience initial pain relief due to the local anaesthesia provided prior to the procedure. There may be some subsequent mild discomfort for a couple of days. The maximum effect of the treatment usually occurs at the 4-6 week mark. What you will be able to do after the procedure will depend on the area injected and reason for the treatment.</p>

<p>Post procedure rehabilitation/ exercise regime is variable depending on the tendon involved, degree of injury and
the individual patient treated. This will usually be organised/ supervised by your referring doctor or physiotherapist.
Usually you will be asked to avoid strenuous activity during the first two weeks, with a gradual return to full activities.</p>

<p><strong>If you have any questions or concerns after treatment please contact Independent Sports Imaging or your
referring physician.</strong></p>
</div>
<div class="clear"></div>
