---
layout: default
title: polidocanol injection
menuItemId: procedures
---


<div class="grid_12">
	<p><a href="/procedures" class="button">Back to Procedures</a></p><br/>
</div>
<div class="clear"></div>

<div class="grid_12">
	<h1>Polidocanol Injections</h1>
	<p><big>Polidocanol is a local anaesthetic agent, first introduced in 1987. Polidocanol has the additional property of being a sclerosant, for which use we inject this substance in tendinosis.</big></p>
</div>
<div class="clear"></div>

<div class="grid_6">
	<h3>Why inject Polidocanol?</h3>
	<p>In areas of chronic tendinosis often new vessels develop (Neovascularity). Reason for this is not known.
	The neovascularity does not appear to necessarily help in the healing process.</p>
	<p>It has been postulated that these vessels, and likely accompanying nerves, are associated with the pain seen in chronic tendinosis.</p>
	<p>It has been found that ablating the neovascularity settles the pain, associated with the tendinosis.</p>
	<p>Ablating/destroying the neovascularity does not in itself help heal the tendon, but makes the region pain free, and is usually done in conjunction with strengthening exercises and physiotherapy.</p>
	<p>The injection in addition does not weaken the tendon.</p>
	<h3>How is the injection performed?</h3>
	<p>If you have not had a prior ultrasound an expert musculo-skeletal Sonographer or Dr Berman (specialist musculo-skeletal radiologist) will usually first scan the area of concern.</p>
	<p>The skin is cleaned with an antiseptic agent. Under ultrasound control the area of concern will be injected directly with Polidocanol. Up to 2ml injected.	Occasionally an initial injection of local anaesthetic into the skin will be performed first.</p>
</div>
<div class="grid_6">
	<h3>How effective is this injection?</h3>

	<p>The response to treatment is variable.<br/>
	The degree of response to treatment depends on several factors; including:</p>
	
	<ol>
		<li>Body part injected.</li>
		<li>Other associated abnormalities, e.g. partial tear of the tendon.</li>
	</ol>

	<p>Overall about 70% of patients get improvement. This improvement can be quite dramatic in many cases.</p>

	<h3>Is the injection painful?</h3>

	The degree of discomfort varies depending on:
	<ol>
		<li>Area to be injected.</li>
		<li>Degree of inflammation in the area.</li>
		<li>Number of injections needed.</li>
		<li>Previous experiences (good or bad). Fear of needles.</li>
	</ol>
	

	<p>Overall the procedure is well tolerated and usually produces only minimal discomfort. There can be a slight increase in pain in the area injected for a day or two afterwards. Occassionally up to a week. I strongly recommend the use of ice-packs to be used 3-4 times a day for the first 2 days after treatment; beginning immediately afterwards. This is extremely successful in limiting the degree of discomfort produced by this therapy.</p>
	<p>This is usually mild and helped with the use of analgesia (such as Ibuprofen and Paracetamol) and cold packs.</p>
</div>			
<div class="clear"></div>

<div class="grid_12">
	<h3>Risks and Side effects:</h3>
	<p>The procedure is usually well tolerated and adverse reactions are rare.</p>
</div>

<div class="grid_6">
	<p><strong>1. After injection discomfort.</strong><br/>
	Common. May last a few days and rarely up to a week.
	Painkillers <br>such as Paracetamol or ibuprofen if necessary.</p>
	<p><strong>2. Redness of the skin:</strong><br/>
	This is usually of nuisance value only.
	May last a few days.</p>
</div>
<div class="grid_6">
	<p><strong>3. Infection:</strong><br/>
	<strong>This is rare!</strong> Signs/symptoms include: Pain (increasing after 2-3 days at injection site), redness, swelling, temperature	and feeling of being unwell.<br/>
	Please consult your doctor as soon as possible.</p>
	<p><strong>4. Other: These are uncommon or rare;</strong><br/>
	Allergy to Polidocanol or the anaesthetic, bandaid or antiseptic solution.</p>
</div>
<div class="clear"></div>

<div class="grid_6">
	<h3>After the procedure</h3>

	<p>Initial pain relief due its anaesthetic properties. Then possibly mild discomfort for a couple of days. The maximum effect usually at the 2-3 week mark.</p>
	<p>After the procedure what you will be able to do will depend on the area injected and reason for the treatment. Usually you will visit your referring doctor who will organise physiotherapy; usually starting about 3-5 days after injection. This will be discussed at the time of treatment.</p>				
	<p><strong>If you have any questions or concerns after treatment please contact Dr Berman or your referring doctor.</strong></p>
</div>
<div class="clear"></div>

