---
layout: default
title: radio frequency ablation
menuItemId: procedures
---

  
<div class="grid_12">
  <p><a href="/procedures" class="button">Back to Procedures</a></p><br/>
</div>
<div class="clear"></div>


      <div class="grid_12">
        <h1>Radio Frequency Ablation <br>(Plantar Fasciitis/Fasciosis and Motor Neuromas)</h1>
      </div>
	<div class="clear"></div>

<div class="grid_12">
  <!-- <p><img src="<@imageLink 'gfxFeature06.jpg'/>" width="980" height="400" alt="Polidocanol Injections"></p> /-->
</div>

      <div class="clear"></div>
      
		<div class="grid_6">
			<h3>What is radio frequency ablation?</h3>
			<p>Radio frequency ablation is a cutting edge new technique to reduce pain from plantar fasciitis/fasciosis and Morton neuromas. The procedure relies on the use of radio frequency waves coagulating a lesion that an ablation needle is inserted into by increasing the temperature within the lesion<sup>1</sup>.</p>
			<p>In terms of conditions resulting in chronic pain such as a Morton’s neuroma of the foot or plantar fasciitis/fasciosis, the nerves transmitting pain from the foot are ablated to disrupt nerve conduction and reduce the pain signals emitted by these nerves.</p>
		</br>


			<h3>Why perform a radio frequency ablation?</h3>
			<p>Radio frequency ablation can be used for several conditions including decreasing the size of tumours within organs and for chronic pain management for those with conditions such as trigeminal neuralgia, plantar fasciitis/fasciosis and Morton’s neuroma of the foot.</p>

			<p>This procedure is especially useful for refractory plantar fasciitis i.e. plantar fasciitis which has not responded to other treatment.</p>

			<p>The ablation procedure is believed to stimulate angiogenesis or new blood vessel growth, accelerating the healing process of the tissue.</p>

			<p>Various studies have reported evidence that this treatment is useful for conditions which are not responding to other therapy and results in higher success rates post-treatment in terms of pain and quality of life.</p>			
		</br>
		



      
        <h3>Risks and Side effects:</h3>
        <p>The complications and risks of this procedure are encouragingly minimal. One adverse event reported is a haematoma or bleeding into the site where the ablation needle is inserted into<sup>3</sup>.</p>
        </div>
		<div class="grid_6">
		

			<h3>The procedure</h3>
			<p>You will be asked to remove certain pieces of clothing to reveal the area where the ablation will be performed. The skin will be cleaned with an antiseptic agent and you may have some local anaesthetic injected into the area to decrease the amount of pain experienced during the ablation.</p>

			<p>The radio frequency (RF) ablation cannula will be inserted through the skin near the nerve requiring ablation.  An ultrasound will be performed simultaneously to gain a more accurate visualisation of where the cannula is in relation to the nerve.</p>

			<p>Local anaesthetic will be inserted through the cannula to numb the area. The RF needle will be pushed through the cannula and emit radio frequency waves. The radio frequency waves coagulate (destroy the proteins of) the nerve disrupting its ability to transmit pain impulses.</p>
			<p>The entire procedure should take around 20 minutes to complete.</p>	
		
		</br>
		
		     <h3>After the procedure</h3>
		<p>You will be able to return home immediately after the procedure. Your doctor may advise you to reduce the stress placed on the treated foot by taking it easy for a few hours or days.</p>		
		</br>
		
					<h3>Is the procedure painful?</h3>
			<p>As the procedure is minimally invasive, the pain experienced will be less than that caused by traditional surgery which is more invasive and results in a longer recovery time.</p>
			<p>There may be a small amount of pain where the ablation needle is inserted; however this will not last long.</p>
		
		</br>
   
		
		</div>
        <div class="grid_10">
        <h3>References</h3>
		<ol>
			<li><a href="http://www.usra.ca/UIA/GetPublicAbstract.php?UserID=207&AbsID=0451aacb814e69116d7c264ff09e2761">http://www.usra.ca/UIA/GetPublicAbstract.php?UserID=207&AbsID=0451aacb814e69116d7c264ff09e2761</a></li>
			<li>Treatment of Morton’s neuroma using percutaneous electrocoagulation-</li>
			<li>A retrospective analysis of 22 patients treated with percutaneous radiofrequency nerve ablation for prolonged moderate to severe heel pain associated with plantar fasciitis. Journal of Foot & Ankle Surgery. 48(6):642-7, 2009 Nov-Dec.</li>
		</ol>	
      </div>

      <div class="clear"></div>
