---
layout: default
title: shoulder hydrodilatation
menuItemId: procedures
---

<div class="grid_12">
       <p><a href="/procedures" class="button">Back to Procedures</a></p><br/>
     </div>
     <div class="clear"></div>
     
     <div class="grid_12">
       <h1>Shoulder Hydrodilatation</h1>
     </div>
     <div class="clear"></div>
     
     <div class="grid_6">
       <h3>Why perform a Shoulder Hydrodilatation?</h3>
       <p><strong>To stretch the joint capsule.</strong></p>
       <p>This procedure is commonly used to treat adhesive capsulitis or ‘frozen shoulder’, where inflammation within the shoulder joint and formation of scar tissue which causes joint pain and stiffness. During the procedure fluid is introduced into the shoulder joint to try to increase the range of movement of the shoulder joint as well as decrease the pain usually associated with this condition.</p>
       
     </br>
     
		<h3>Is the injection painful?</h3>

	       <p>The degree of discomfort varies depending on:</p>

	       <ol>
	         <li>Degree of associated inflammation.</li>
	         <li>Degree of restricted movement.</li>
	         <li>Previous experiences (good or bad).</li>
			<li>Fear of needles</li>
	       </ol>

	       <p>Overall the procedure is well tolerated and usually produces only minimal discomfort. Occasionally this procedure can be painful. If so, I will usually be able to change my methods to make it more tolerable. There can be a slight increase in pain in the area injected for a day or two afterwards which can occasionally last up to a week.</p>
	       <p>If necessary the degree of discomfort can be eased with the use of analgesia (such as Ibuprofen and
	       Paracetamol).</p>
		
	</br>
	
       <h3>The Procedure:</h3>
       <p>You will be asked to lie down. Ultrasound will be used to plan the best pathway into the joint.
       The skin will be cleaned with antiseptic, usually chlorhexidine.</p>
       <p>Thereafter the skin will be anaesthetised with the injection of local anaesthetic (Lignocaine 1%).   A second needle will be introduced into the joint (you may feel a small “pinch” as the needle finds its final position).</p>
       <p>Usually about 30ml fluid is then injected. This is made up of 6ml Marcaine(long acting anaesthetic – pain relief), 2ml Celestone Chronodose (Steroid- to try settle the inflammation) and 22ml Normal Saline 0.9% (to distend the shoulder joint capsule).</p>

       <p>As the fluid fills the joint, a person can experience a range of feelings.</p>
       <p>At first, you may experience a feeling of “filling”, then usually a feeling of heaviness/tightness at the back of the shoulder.</p>
       <p>Thereafter, during the procedure, you may experience discomfort at the outer part of the shoulder, pins and needles in the arm, an ache or odd feelings down the arm or some pain.</p>
       <p>Some people feel no discomfort at all throughout the procedure.</p>
       <p>At the end of the procedure a small dressing will be placed over the puncture site.</p>
       <p>The whole procedure usually takes less than 10 minutes.</p>
      </div>
      <div class="grid_6"> 

       <h3>Risks, Side effects and Precautions:</h3>
       <p>The procedure is usually well tolerated and adverse reactions are rare.</p>
		
		<p><strong>1. Redness of the skin (due to the steroids):</strong><br/>
		This is usually just a nuisance and not a serious concern. This usually affects the face (especially the cheeks) and uncommonly the chest. The skin feels hot to the touch and you may start feeling warm. It usually starts on day 1-2 and lasts for about 2 days. Very uncommonly this starts at about a week later and last for a couple of weeks.
		Usually no treatment is required although occasionally antihistamines are used.</p>

		<p><strong>2. Insulin Dependent Diabetics:</strong><br/>
		Steroids can interfere with glucose control which usually only lasts for a few days, but can occasionally last for a couple of weeks. Extra care monitoring blood sugar levels is essential. If concerned about the control of your sugar levels please contact your regular treating physician.</p>

		<p><strong>3. Insomnia:</strong> you may have trouble sleeping during the first night, a side effect of steroids.</p>

		<p><strong>4. Infection:</strong><br/>
		This is rare! Features include: Pain (increasing after 2-3 days at injection site), redness, swelling, temperature and feeling of being unwell. Please consult your doctor as soon as possible.</p>

		<p><strong>5. Other: These are uncommon or rare;</strong><br/>
		Allergy to the cortisone or the anaesthetic, bandaid or antiseptic solution, localised skin and subcutaneous fat atrophy (leads to skin dimpling), hypo pigmentation at the injection site.</p>
		</br>
		<h3>Precautions</h3>
		
		<p><strong>1. General feeling of being unwell</strong>- If on the day before, or on the day of the procedure, you feel unwell, it is possible that you may be developing the 'Flu' or another infection. Please contact us to discuss and possibly delay the treatment for another day.</p>

		<p><strong>2. If you have a prosthetic heart valve, other heart conditions or any other condition that requires antibiotic cover for procedures,</strong> please contact us to discuss prior to the procedure being undertaken.</p>

		<p><strong>3. If you take blood thinning medication such as Warfarin or Clopidogrel (Iscover, Plavix)</strong>, please contact us to discuss prior to the procedure being undertaken.</p>
		
     </br>

       <h3>After the procedure</h3>

       <p>Please organise to have someone drive you home or take public transport if absolutely necessary. If you have to drive, please wait 30-40 minutes after the procedure.</p>

	<p>Your shoulder may feel odd for a day or so. There may be mild shoulder discomfort for a couple of days. Often there is improved range of movement and reduced discomfort immediately after the procedure. This usually continues to improve over the next couple of weeks. Post hydrodilatation, you should contact your referring doctor or physiotherapist to discuss ongoing care and rehab.</p>

       <p><strong>If you have any questions or concerns after treatment please contact Dr Berman or your referring
       doctor</strong>.</p>
     </div>
     <div class="clear"></div>