---
layout: default
title: steroid injection
menuItemId: procedures
---

  
<div class="grid_12">
  <p><a href="/procedures" class="button">Back to Procedures</a></p><br/>
</div>
<div class="clear"></div>


      <div class="grid_12">
        <h1>Steroid Injections</h1>
      </div>
<div class="clear"></div>

<div class="grid_12">
  <!-- <p><img src="<@imageLink 'gfxFeature06.jpg'/>" width="980" height="400" alt="Polidocanol Injections"></p> /-->
</div>

      <div class="clear"></div>
      
      <div class="grid_6">
        <h3>Why inject steroids?</h3>
        
		<p><strong>Therapeutic.</strong> <br>They act to reduce inflammation and pain in an area of need.</p>
		<p><strong>Diagnostic  (+/- therapeutic)</strong> <br>Sometimes it can be difficult to determine where pain originates from. <br>In these instances, they can be used to confirm or exclude a suspected joint/region being the cause of the pain or contributing to the pain.</p>
		
		
		
      </br>
      
        <h3>How is the injection performed?</h3>

		<p>If you have not had a prior ultrasound an expert musculo-skeletal Sonographer or Dr Berman (specialist musculo-skeletal radiologist) will usually first scan the area of concern.</p>

		<p>The skin is cleaned with an antiseptic agent.  Under ultrasound control the area of concern will be injected with a combination of steroid and local anaesthetic (usually Celestone Chronodose and Marcaine respectively) mixed together in a single syringe.</p>
		<p>Occasionally an initial injection of local anaesthetic into the skin will be performed first.</p>

      </br>


        	<h3>Will I experience any discomfort?</h3>
			<p>The degree of discomfort varies depending on:</p>
			<ol>
				<li>Area to be injected.</li>
				<li>Degree of inflammation in the area.</li>
				<li>Number of injections needed (usually one).</li>
				<li>Previous experiences (good or bad). Fear of needles.</li>
			</ol>			

			<p>Overall the procedure is well tolerated and usually produces only minimal discomfort.</p>
			<p>There can be a slight increase in pain in the area injected for a day or two afterwards. If this occurs it begins when the local anaesthetic has worn off but the steroids have not as yet had time to work.</p>
			<p>This is usually mild and helped with the use of analgesia (such as Ibuprofen and Paracetamol) and cold packs.</p>
      </br>

        <h3>After the procedure</h3>
		
        <p>Usually it takes 2-3 days for the steroids to start taking effect. This again usually gradually improves over 1-2 weeks, with the maximum effect usually at the 2-3 week mark.</p>
		<p>After the procedure what you will be able to do will depend on the area injected and reason for the treatment.</p>
		<p>Usually light duties and limited exercise will be recommended for about two weeks.</p>
		<p>This will be discussed at the time of treatment or you may be referred back to your referring medical practitioner for appropriate aftercare.</p>		
		
        <p><strong>If you have any questions or concerns after treatment please contact Dr Berman or your referring doctor.</strong></p>
		
		</div>
        <div class="grid_6">


        <h3>How effective are steroid injections?</h3>

		<p>The response to treatment is variable.</p>
		<p>The degree of response to treatment depends on several factors; including:</p>
		<ol>
			<li>Body part injected.</li>
			<li>Background problem. Example:  Local inflammation in an otherwise normal joint vs. flare-up of an arthritic joint.</li>
		</ol>		

		<p>Overall steroids are very effective agents and about 70% of patients get improvement.
		This improvement can be quite dramatic in many cases.</p>


      </br>
              <h3>What is injected?</h3>
		
		<p>The typically used agent is <strong>CELESTONE CHRONODOSE</strong>.
		(Occasionally other agents such as Kenocort are used. Different doctor’s preference).</p>
		<p>These are not “anabolic” agents.
		The use in sport is permitted as long as they are not injected systemically (i.e. not intramuscular, intravenous, rectally or orally)</p>		

      </br>
		
		
		<h3>Risks and Side effects:</h3>
        <p>The procedure is usually well tolerated and adverse reactions are rare.</p>
        
		<p><strong>1. Redness of the skin:</strong><br/>
		This is usually of nuisance value only.
		This usually affects the face (esp. cheeks) and uncommonly the chest.
		The skin feels hot to the touch and the patient feels warm.
		Usually starts on day 1-2 and lasts for about 2 days. Very uncommonly this starts at about a week later and last for a couple of weeks.
		May feel “flu-like) symptoms.
		No treatment is usually required. Occasionally antihistamines used.</p>

		<p><strong>2. Insulin Dependent Diabetics</strong><br/>
		Steroids can interfere with glucose control. Usually for a few days, but occasionally for a couple of weeks.
		Extra care re blood sugar monitoring and control is essential.
		If concerned re the control of your sugar levels please contact your regular treating physician.</p>
		
		<p><strong>3. Insomnia for one night occasionally occurs.</strong></p>
		
		<p><strong>4. Infection:</strong><br/>
		This is rare!<br/>
		Signs/symptoms include: Pain (increasing after 2-3 days at injection site), redness, swelling, temperature and feeling of unwellness.<br/>
		Please consult your doctor as soon as possible.</p>

		<p><strong>5. Tendon Rupture:</strong><br/>
		A reported risk if the tendon has been directly injected into.</p>

		<p><strong>6. Other: These are uncommon or rare;</strong>
		Allergy to the cortisone or the anaesthetic, bandaid or antiseptic solution.
		Localised skin and subcutaneous fat atrophy (leads to skin dimpling)
		Hypo pigmentation at the injection site.</p>
		
      </div>
      <div class="clear"></div>

 
