---
layout: default
title: ultrasound
menuItemId: procedures
---

 
<div class="grid_12">
  <p><a href="/procedures" class="button">Back to Procedures</a></p><br/>
</div>
<div class="clear"></div>


      <div class="grid_12">
        <h1>Ultrasound</h1>
      </div>
	<div class="clear"></div>

<div class="grid_12">
  <!-- <p><img src="<@imageLink 'gfxFeature06.jpg'/>" width="980" height="400" alt="Polidocanol Injections"></p> /-->
</div>

      <div class="clear"></div>
      
		<div class="grid_6">
			<h3>What is an ultrasound scan?</h3>
			
			<p>The ultrasound works through sound waves, called sonar, which are not audible to the human ear. A transducer is held against your skin, and sound waves are sent into your body. They bounce off organs and echo back, and can be converted to images on a screen. No radiation is used.</p>
			<p>This method of imaging is very good at seeing through liquid, but not gas or air. It is therefore not very useful for stomach or bowel.</p>
						
		</div>

		<div class="grid_6">
			<h3>Why perform an ultrasound scan?</h3>
			<p>An ultrasound scan is non-invasive, quick, cheap and painless to perform, making it an ideal initial investigation for a range of conditions. It is used very commonly in pregnancy, but also to image organs such as the heart, gall bladder and liver, kidneys, appendix, bladder, thyroid gland, scrotum and testes and the pancreas.</p>

			<p>A special type of ultrasound called a Doppler scan can assess blood flow. It is particularly useful in looking at deep venous thrombosis in the legs and narrowing of the carotid arteries in the neck.</p>

			<p>Ultrasound scans are also useful for guiding needle biopsies (to collect samples of tissue), aspiration of fluid, joint injections and abscess drainage.</p>
		</div>
		
      <div class="clear"></div>

		<div class="grid_6">
			<h3>Preparation before the procedure</h3>
			<p>Preparation for your ultrasound will vary depending on the type of ultrasound you are having. A summary of the preparations required is included below.</p>
			
			<table class="prepTable">
				<tr>
					<th>Ultrasound Examination</th>
					<th>Preparation Required</th>
				</tr>
				<tr>
					<td><strong>Abdomen</strong></td>
					<td>Fast for 6 hours prior (usually withhold breakfast).<br/>
					Only have small sips of water for any medication that you may be taking.</td>
				</tr>
				<tr>
					<td><strong>Renal</strong></td>
					<td>Empty your bladder 75 minutes before appointment and then drink one litre of water (not coffee or tea). Finish the water at least one hour before the examination.<br/>
					Do NOT empty your bladder until after the examination</td>
				</tr>
				<tr>
					<td><strong>Musculoskeletal</strong><br/>
				(any part of a limb, all joints, muscles)</td>
					<td>None</td>
				</tr>
				<tr>
					<td><strong>Breast, eye, thyroid, penile, scrotum</strong></td>
					<td>None</td>
				</tr>
				<tr>
					<td><strong>Vascular</strong></td><td> </td>
				</tr>
				<tr>
					<td>Doppler veins</td>
					<td>None</td>
				</tr>
				<tr>
					<td>Doppler Carotid, Leg & other arteries</td>
					<td>None</td>
				</tr>
				<tr>
					<td>Doppler Aorta & Renal.</td>
					<td>Fast 8 hours</td>
				</tr>
				<tr>
					<td><strong>Injection, biopsy or FNA (Fine Needle Aspiration)</strong></td>
					<td>Fast 2 hours</td>
				</tr>
			</table>
			
			<p>If biopsies are being taken, you will need to tell your doctor about any allergies, past medical conditions or medications, particularly aspirin and warfarin.</p>
			
		</div>

		<div class="grid_6">
			<h3>The procedure</h3>
			<p>Upon arrival at the clinic, you will be asked to change into a gown in a change room. All jewellery and relevant clothing must be removed. Except for the area to be scanned, you will be covered up.</p>
			<p>Each scan usually takes between 15-30 minutes however some scans can take up to 1 hour to complete.</p>
			<p>The scan will be performed with you lying down on a couch or sitting in a chair near the ultrasound equipment and be performed by one of our trained sonographers accredited with the Australia Sonographer Accreditation Registry (ASAR).</p>
			<p>The sonographer will apply a water-based gel over the skin of the area to be scanned. This gel improves the quality of the ultrasound image obtained by assisting in the transmission of the sonar sound waves.</p>
			<p>In some cases, the radiologist will have to come in during the scan to speak with you or assist with the scanning. This is to ensure accuracy and relevancy of the images captured as it is the radiologist who will be medicolegally responsible for your health.</p>
		</div>
      
	 <div class="clear"></div>
	
		<div class="grid_6">
			<h3>Is the procedure painful?</h3>
			<p>No, the procedure is not painful however the transducer gel can feel very cold.</p>
		</div>
	
	 <div class="clear"></div>

      <div class="grid_6">
        <h3>Risks and Side effects:</h3>
        <p>An ultrasound uses no ionising radiation, and is therefore safe for pregnant women and children.</p>

		<p>There are generally no risks unless the ultrasound is being used to guide an invasive procedure such as needle biopsy, aspiration of fluid, joint injection or abscess drainage.</p>
		
      </div>
  		
      <div class="clear"></div>
      
      <div class="grid_6">
        <h3>After the procedure</h3>
		<p>As most ultrasounds are not invasive and do not require anaesthesia, you will not have any problems such as pain or disorientation which can occur after other procedures. You will be able to go home and drive immediately after the procedure.</p>

		<p>A radiologist will review the scans and write up a formal report. If the results of the scan are required urgently or you are seeing your doctor immediately after the scan, the results can be ready instantly. Otherwise, the report will be sent to your doctor within 24 hours.</p>
      </div>
	  <div class="clear"></div>
