<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Sports Medicine Radiology - ${page.title}</title>
    <meta name="Keywords" content="${page.keywords}" />
    <meta name="Description" content="${page.description}" />
    <meta name="Author" content="Dispensry" />

    <!-- Stylesheets & Scripts //-->
    <link href="/img/favicon.ico" rel="shortcut icon" />

    <link type="text/css" rel="stylesheet" href="/css/grid_12.css"/>
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>

 	<script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>

    <script type="text/javascript" src="http://use.typekit.com/dps4syt.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <script type="text/javascript">
         var _gaq = _gaq || [];
         _gaq.push(["_setAccount", "UA-28546124-1"]);
         _gaq.push(["_trackPageview"]);

        (function() {var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;

           ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js"
		   var s =       document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ga, s);})() </script>
   
  </head>
  <body>

    <div class="container header">
      <div class="grid_3"><a href="/" class="imageButton logo">Sports Medicine Radiology</a></div>
      <div class="nav">
        <ul>
          <li><a href="/" {% if page.menuItemId == 'home' %}class="selected"{% endif %}>Home</a></li>
          <li><a href="/about" {% if page.menuItemId == 'about' %}class="selected"{% endif %}>About</a></li>
          <li><a href="/conditions" {% if page.menuItemId == 'conditions'%}class="selected"{% endif %}>Conditions</a></li>
          <li><a href="/procedures" {% if page.menuItemId == 'procedures'%}class="selected"{% endif %}>Procedures</a></li>
          <li><a href="/services" {% if page.menuItemId == 'services'%}class="selected"{% endif %}>Services</a></li>
          <li><a href="/fordoctors" {% if page.menuItemId == 'fordoctors'%}class="selected"{% endif %}>For Doctors</a></li>
          <li><a href="/faq" {% if page.menuItemId == 'faq'%}class="selected"{% endif %}>FAQ</a></li>
          <li><a href="/contact" {% if page.menuItemId == 'contact'%}class="selected"{% endif %}>Contact</a></li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>

    <div class="container content">
		
		{{content}}

      <div class="clear"></div>
    </div>

    <div class="container footer">
      <div class="grid_6">&copy; 2014. Sports Medicine Radiology<br>All Rights Reserved | <a href="/privacy">Privacy</a> | <a href="/disclaimer">Disclaimer</a>
      </div>
     
      <div class="clear"></div>
    </div>

  </body>
</html>
